/***********************

  REGLAGES GENERAUX

***********************/

/*Tout en border-box*/
*, ::before, ::after {
	box-sizing: border-box;
}

/*Marges et taille de police du body*/
body {
	margin: 0;
	font-size: 16px;
	font-family: 'Exo 2', sans-serif;
}

/*Police des titres*/
h1, h2 {
	font-family: 'Acme', sans-serif;
}

/*Images restreintes dans leurs cadres*/
img {
	max-width: 100%;
}

/*Prise en compte du Menu fixé par le reste du contenu*/
main {
	margin-top: 150px;
}

/*Listes sans puces et sans marge ni padding*/
ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

/*Mettre les listes en ligne et non en colonne*/
li
{
	display: inline-block;
	font-size: 20px;
}

/* Héritage de la famille de police pour les input, select, texte-area et boutons */
input, select, textarea, button {
	font-family: inherit;
}










/***********************

   ICOMOON - Icônes

***********************/

/*Règles de style Icomoon remises sur la classe d'icônes*/
.icomoon, [data-icon]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[data-icon]::before {
	content: attr(data-icon);
}










/***************************

      HEADER et MENU

***************************/

/*Contenu centré et marges du header*/
header {
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	width: 100%;
	height: 150px;
	text-align: center;
	margin: 0;
	background: #fcfacf;
	box-shadow: 0px 2px 1px teal;
}

/*Mettre le logo en ligne*/
header img
{
	display: inline-block;
}

/*Style et display du Titre*/
h1 {
	display: inline-block;
	color: teal;
	font-size: 3em;
	padding: 10px 20px 10px 10px;
	margin: 0;
}

/*Enlever l'underline sur les a*/
nav a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: teal;
	padding: 10px 10px;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}

/*Effet de hover sur les liens de nav*/
nav a:hover {
	border-bottom: 3px solid teal;
	border-top: 3px solid teal;
}










/************************

  CAROUSEL ET SLIDES


************************/

/*Position et style de la div slider*/
#slider {
	position: relative;
	text-align: center;
}

/*Position et style du carousel*/
#carousel {
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 50px;
	border-bottom: 2px solid teal;
}

/*Marges et hauteur du h2*/
#carousel h2 {
	position: absolute;
	left: 0;
	top: -90px;
	line-height: 32px;
	height: 64px;
	width: 100%;
	padding: 0 10px;
	overflow: hidden;
	color: teal;
}

/*Marge du paragraphe (pour laisser de la place aux LI en screen 320px)*/
#carousel p {
	position: absolute;
	background: rgba(252, 250, 207, .8);
	bottom: 2px;
	padding: 10px;
	line-height: 15px;
	height: 80px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 0;
	color: teal;
	font-size: 13px;
	font-weight: bold;
}

/*Tous les slides cachés*/
#slider > div {
	display: none;
}

/*Seul le 1er slide est apparent*/
#slider > div:first-of-type {
	display: block;
}

/*Bordures de l'image du carousel*/
#slider > div > img {
	display: block;
	border-top: 2px solid teal;
	border-bottom: 2px solid teal;
}

/*Position et placement de l'ul*/
#carousel ul {
	position: absolute;
	left: 0;
	bottom: -30px;
	z-index: 100;
	width: 100%;
}

/*Position et style des LI navigation des slides*/
#carousel li {
	height: 20px;
	width: 20px;
	border: 2px solid teal;
	border-radius: 5px;
	margin: 0 3px;
	cursor: pointer;
}

/*La LI active distinguée des autres*/
.active {
	background: gold;
}

/*Effet de hover sur les LI navigation slides*/
#carousel li:hover {
	background: gold;
}

/*Position des 3 icônes*/
.nav-next, .nav-prev, .nav-pause {
	position: absolute;
	display: inline-block;
	color: teal;
	font-size: 16px;
	border-radius: 5px;
	background-color: gold;
	top: 50%;
	margin-top: -12px;
	z-index: 100;
	height: 24px;
	line-height: 24px;
	width: 24px;
}

.nav-next {
	right: 15px;
}

.nav-prev {
	left: 15px;
}

.nav-pause {
	margin-left: -12px;
}

/*Contenus des icônes*/
.nav-prev::before {
	content: "\e904";
}

.nav-pause::before {
	content: "\ea1d";
}

.nav-next::before {
	content: "\e902";
}

#slider.paused .nav-pause::before {
	content: "\ea1c";
}










/***********************

      RESERVATION

***********************/
/*Couleur de police, alignement du texte et bordure de l'information de réservation*/
#reservation-details {
	text-align: center;
	color: teal;
	border-bottom: 2px solid teal;
}

/*Style du titre de la partie réervation*/
#reservation-details h2 {
	margin: 0;
	padding-top: 10px;
}












/**********************

  MAP et FORMULAIRE

**********************/

/*Position et hauteur de la carte*/
#map {
	position: relative;
	height: 280px;
}

/*Marge haute, largeur et couleur de police du formulaire*/
form {
	margin-top: 15px;
	width: 100%;
	color: teal;
}

/* Bordure et marge basse du fieldset */
fieldset {
	border: 2px solid teal;
	margin-bottom: 5px;
}

/* Style et alignement de la police de la legend */
legend {
	color: teal;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

/* Marge basse de toutes les divs enfants de la div réservation */
#station-details > div {
	margin-bottom: 15px;
}

/* display et alignement vertical de tous les enfants de toutes les div enfants de la div réservation */
#station-details > div > *
{
	display: inline-block;
	vertical-align: middle;
}

/* Marge haute de la 1ère div de la div de réservation */
#station-details div:nth-of-type(1) {
	margin-top: 20px;
}

/* Marge basse de la 3ème div de la div de réservation */
#station-details div:nth-of-type(3) {
	margin-bottom: 35px;
}

/* Marge haute de la 6ème div de la div de réservation */
#station-details div:nth-of-type(6) {
	margin-top: 25px;
}

/* Largeur, position et police en gras des labels */
#station-details label {
	font-weight: bold;
	left: 0;
	width: 25%;
}

/* Largeur des labels et de leurs éléments */
#station-details label + *
{
	width: 73%;
}

/* Au départ, on n'affiche pas la div de réservation afin d'afficher celle de l'empty-space */
#station-details
{
	display: none;
}

/*Alignement du texte dans l'empty-space*/
#empty-state
{
	text-align: center;
}

/* display en ligne, largeur et style des input du formulaire */
input {
	display: inline-block;
	width: 70%;
	border: 1px solid teal;
	border-radius: 2px;
	background: #fcfacf;
	padding: 6px 10px;
}

/*Style et display des boutons et de la classe .btn*/
button,
.btn
{
	display: inline-block;
	background: teal;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	color: #fcfacf;
	margin-top: 10px;
	padding: 5px 10px;
	border: 2px solid teal;
	border-radius: 3px;
	cursor: pointer;
}

 /* Type de bouton alternatif, moins visible */
.btn-light
{
	background: #fcfacf;
	color: teal;
}

/* Changement du style d'un bouton lorsqu'il a l'attribut disabled */
button[disabled],
.btn[disabled]
{
	background: #777;
	border-color: #777;
	color: #DDD;
	cursor: default;
	pointer-events: none;
}

/* Réglages des boutons à icônes */
button.ico-btn,
.btn.ico-btn
{
	width: 32px;
	padding: 5px 0 !important;
}

/* Réglages des before des boutons à icônes */
button.ico-btn::before,
.btn.ico-btn::before
{
	width: 32px !important;
	margin: 0 !important;
}

/*Alignement central du texte des boutons*/
.buttons
{
	text-align: center
}

/* Positionnement des boutons les uns par rapport aux autres dans leur conteneur*/
.buttons button,
.buttons .btn
{
	/* Petite marge verticale au cas où les boutons passeraient à la ligne sur les petits écrans */
	margin: 5px 10px;
}

 /* Les boutons avec icône ont un padding-left pour permettre d'y afficher l'icône*/
button[data-icon],
.btn[data-icon]
{
	padding-left: 25px;
}

/* Rajout du sélecteur d'attribut (qui s'assure qu'un attribut "data-icon" soit défini)
 * afin de n'appliquer ce style qu'aux boutons qui en ont réellement besoin */
button[data-icon]::before,
.btn[data-icon]::before
{
	float: left;
	width: 20px;
	text-align: center;
	font-size: 18px;
	margin: 0 10px 0 -20px;
}










/***********************

    POPUP ET CANVAS

************************/

 /* Overlay de la popup */
 #canvas-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 2500;
	background: rgba(0, 0, 0, 0.8);
}

 /* La popup en elle-même */
#canvas-container > div {
	border: 2px solid teal;
	border-radius: 2px;
	text-align: center;
	padding: 10px 10px;
	background: #fff;
	z-index: 2500;

	/* Pour les petits écrans */
	max-width: 100%;
}

/* Titre de la popup */
#canvas-container h4 {
	display: block;
	color: teal;
	font-weight: bold;
	font-size: 20px;
	margin: 5px 0 5px 0;
}

canvas {
	/* Reset du box-sizing,
	 * pour ne pas que le padding/border viennent empiéter sur les
	 * dimensions définies pour le canvas */
	box-sizing: content-box;
	width: 320px;

	/* Pour les petits écrans */
	max-width: 100%;

	height: 160px;
	border: 1px solid teal;
	border-radius: 2px;
	background: #fcfacf;
	margin: 10px auto;
}










/********************

       FOOTER

********************/

/*Texte aligné au centre*/
footer {
	text-align: center;
	background: teal;
}

/*Pas de soulignement sous les a*/
footer a {
	text-decoration: none;
	color: #fcfacf;
}

/*Style des li*/
footer li {
	padding: 10px;
	font-size: 14px;
}










/***********************

      MEDIAQUERIES

    Pour grands écrans :
	  1024 px et +

***********************/

@media all and (min-width: 1024px)
{
	/*Augmentation de la taille de police du h1*/
	h1 {
		font-size: 3.5em;
	}

	/*image de fond derrière le slider*/
	#carousel {
		background: url('../img/slides/quais.jpg') center / cover;
	}

	/*Augmentation de la taille de police du h2*/
	#carousel h2 {
		font-size: 2em;
	}

	/*Style des images des div du slider*/
	#slider > div > img {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		left: 0;
		width: 40%;
		border: 2px solid gold;
	}

	/*Position et réglage du top du ul*/
	#carousel ul {
		position: relative;
		top: -10px;
	}

	/*Hauteur, largeur et bordure des LI*/
	#carousel li {
		height: 24px;
		width: 24px;
		border: 2px solid gold;
	}

	/*Position, display et style de la partie texte du carrousel*/
	#carousel p {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		top: 0;
		width: 30%;
		padding: 10px;
		height: auto;
		overflow: auto;
		background: #fcfacf;
		border: 2px solid gold;
		color: teal;
		font-size: 18px;
		line-height: 26px;
	}

	/*Réglage bottom de l'ul*/
	#carousel ul {
		bottom: 0;
	}

	/*Style des icônes du slider*/
	.nav-next, .nav-prev, .nav-pause {
		height: 30px;
		width: 30px;
		line-height: 30px;
		font-size: 24px;
	}

	.nav-next {
		right: 20px;
	}

	.nav-prev {
		left: 20px;
	}

	/*Position et style de la carte pour grands écrans*/
	#map {
		display: inline-block;
		width: 60%;
		height: 490px;
		vertical-align: middle;
		margin: 10px;
		left: 0;
		border: 2px solid teal;
	}

	/*Position et style du formulaire pour grands écrans*/
	form {
		position: relative;
		display: inline-block;
		width: 35%;
		max-width: 450px;
		line-height: 25px;
		vertical-align: middle;
		margin-left: 15px;
	}

	/*Style et padding du fieldset du formulaire*/
	fieldset {
		border: 2px solid teal;
		padding: 0 20px;
	}
}
