

*, ::before, ::after {
    box-sizing: border-box;
}

h1 {
    color: teal;
}

body {
    padding-top: 50px;
}

/*CARROUSEL et SLIDES*/

#carousel {
    background: url(../img/nantes_quais.jpg) center / cover;     
}

.img-left {
    padding: 1% 2% 1% 2%;
}

.slide-img {
    max-height: 100%;
    max-width: 100%;
    border: 3px solid gold;
}

.slide-text {
    margin: 15% auto;
    color: teal;
    background-color: navajowhite;
    border: 3px solid gold;
    text-align: center;
    padding-top: 10px;
}

/* BOUTONS */

.btn {
    font-size: 16px;
    border: 2px solid teal;
}

.btn-default {
    color: teal;
    background-color: gold;
    border-color: teal;
}


/*Les autres slides du carousel ne sont pas déployés*/
.hidden {
    display: none;
}















